
<ion-view title="Settings">
  <ion-content class="bg-grey">
    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-item ng-hide="vm.isSignedIn()" ui-sref="tab.login" class="item-icon-right"><i class="icon ion-ios7-arrow-right"></i>
        <p>Account</p>
      </ion-item>
      <ion-item ng-show="vm.isSignedIn()" ui-sref="tab.account" class="item-icon-right"><i class="icon ion-ios7-arrow-right"></i>
        <p>Account</p>
      </ion-item>
      <ion-item>
        <p>Settings</p>
      </ion-item>
      <ion-item>
        <p>Collection</p>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item>
        <p>About Plateful</p>
      </ion-item>
      <ion-item>
        <p>Contact Plateful</p>
      </ion-item>
    </ion-list>
    <button ui-sref="tab.login" class="button button-block button-assertive">User Account</button>
  </ion-content>
</ion-view>