
<ion-view title="{{vm.menu.name}}">
  <ion-content class="bg-grey">
    <div class="button-bar"><a ng-click="callBusiness()" class="button button-assertive icon ion-ios7-telephone"></a><a ui-sref="tab.review-choose-item({menuId: vm.menu_id})" class="button button-assertive icon ion-ios7-camera"></a><a ng-click="createReview()" class="button button-assertive icon ion-ios7-checkmark"></a><a ng-click="bookmarkItem()" class="button button-assertive icon ion-bookmark"></a></div>
    <ion-list>
      <ion-item>
        <div class="menu-banner">
          <div class="menu-banner-right">
            <h2>{{vm.menu.name}}</h2>
            <h4>{{vm.menu.address}}</h4>
            <h4>{{vm.menu.city}}, {{vm.menu.state}}</h4><i style="color:grey;" class="icon ion-navigate">&nbsp{{vm.menu.distance}}mi</i>
          </div>
          <div class="menu-banner-left">
            <iframe ng-src="{{vm.placeUrl}}" width="50%" height="200px" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
      </ion-item>
      <div class="item-divider"></div><a ng-repeat="item in vm.items" href="#/tab/items/item/{{item._id}}" class="menu-card">
        <div class="menu-card-content"><img ng-src="{{item.image}}"/>
          <div class="menu-card-footer">
            <div>{{item.name}}</div>
            <div class="text-left assertive">★★★★</div>
            <div class="text-right energized">(250)</div><i style="color:grey;" class="text-right icon ion-navigate"></i><br/><br/>
          </div>
        </div></a>
    </ion-list>
  </ion-content>
</ion-view>